html,body {
    height:100%;
    background:gray;
    color: white
    }
    header {
    display:block;
    background:#d7e0e9;
    padding:10px 0px;
    color: white

    }
    section {
    width: 79%;
    float: left;
    overflow: auto;
    padding-bottom: 60px;
    padding-top:30px;
    color:pink;
    }
    footer {
    position: relative;
    margin-top: -50px;
    height: 40px;
    padding:5px 0px;
    clear: both;
    background: blue;
    text-align: center;
    }